- if devise_mapping.omniauthable?
  - resource_class.omniauth_providers.each do |provider|
    .row.text-center
      = link_to "Sign up with #{provider.to_s.titleize}", omniauth_authorize_path(resource_name, provider), class: 'btn btn-lg btn-primary linkedin'
    .row.text-center
      - if controller_name != 'sessions'
        = link_to "Already a member?", omniauth_authorize_path(resource_name, provider)
