.wrapper{ng: {controller: "EditableFormCtrl"}}
  .row.text-center
    .userpic
      =image_tag @user.picture_url, class: "user-photo img-circle img-responsive img-thumbnail", width: '200px', height: '200px'
      -if @user.audio.present?
        =button_to '', class: 'btn-play', id: 'play-button' do
          %span.glyphicon.glyphicon-play
  - if @user == current_user
    .row.text-center.headline.edit-profile-block
      %button.edit-btn{ng: {click: "editableForm.$show()", show: "!editableForm.$visible"}, type: 'button', class: 'btn btn-warning btn-lg'}
        %span.glyphicon.glyphicon-edit
        Edit Profile
  %form{'editable-form' => '', name: "editableForm", onaftersave: "saveUser()" }
    .row.text-center
      .username
        %span{editable:{text: "user.name"}, 'e-name' => 'name'}
          %h2
            {{ user.name }}
    .row.text-center.location
      %span.glyphicon.glyphicon-map-marker
      %span{editable:{text: "user.location"}, 'e-name' => 'location'}
        {{ user.location }}
    .row.text-center.headline
      %p
        %span{editable:{text: "user.headline"}, 'e-name' => 'headline'}
          {{ user.headline }}
      %p#email
        %span.hidden{editable:{text: "user.email"}, 'e-name' => 'email'}
          {{ user.email }}
    .row.text-center.controls{ng: {show: "editableForm.$visible"}}
      .buttons
        %span
          %button.btn.btn-danger.cancel-btn{ng: {disabled: "editableForm.$waiting", click: "editableForm.$cancel()"}, type: 'button'}
            Cancel
          %button.btn.btn-success.save-btn{ng: {disabled: "editableForm.$waiting"}, type: 'submit'}
            Save
.wrapper{ng: {controller: "SkillCtrl"}}
  .row.skills.text-center
    %ul
      %li{ng: {repeat: "skill in skills"}}
        .skill
          %span.label.label-primary.tag
            {{skill.name}}
            - if @user == current_user
              %button.btn.btn-danger.del-btn{ng:{click: "deleteSkill(skill.id, $index)"}, type: 'button'}
                &#10006;      

.row.cv.text-center
  -if @user.cv.present?
    = link_to @user.cv.url, class: 'btn btn-info btn-lg' do
      %span.glyphicon.glyphicon-file
      %span Download Full CV
  -elsif @user == current_user
    =link_to '/after_signup/confirm_profile', remote: false, class: 'cv-link' do
      %span Upload CV
  =mail_to @user.email, class: 'cv-link btn btn-info btn-lg' do
    %span.glyphicon.glyphicon-envelope
    %span= "Email #{@user.name.split(' ').first}" 

#players
  %audio#audio-player{src: @user.audio.url, onended: '$("#play-button").click()'}
-# %p.positions
-#   ="Positions: #{@user.position_names.join(' ')}"