.wrapper{ng: {controller: "EditableFormCtrl"}}
  .row.text-center
    .userpic
      =image_tag @user.picture_url, class: "user-photo img-circle img-responsive img-thumbnail"
      =button_to '', class: 'btn-play', id: 'play-button' do
        %span.glyphicon.glyphicon-play
  %form{'editable-form' => '', name: "editableForm", onaftersave: "saveUser()", onshow: 'hideLocationMarker()'}
    .row.text-center
      .username
        %span{editable:{text: "user.name"}, 'e-name' => 'name'}
          %h2
            {{ user.name }}
      - if @user == current_user
        .buttons
          %button.edit-btn{ng:{click: "editableForm.$show()", show: "!editableForm.$visible"}, type: 'button'}
            %span.glyphicon.glyphicon-edit
    .row.text-center.location
      %span.glyphicon.glyphicon-map-marker
      %span{editable:{text: "user.location"}, 'e-name' => 'location'}
        {{ user.location }}
    .row.text-center.headline
      %p
        %span{editable:{text: "user.headline"}, 'e-name' => 'headline'}
          {{ user.headline }}
    .row.text-center.controls{ng: {show: "editableForm.$visible"}}
      .buttons
        %span
          %button.btn.btn-success.save-btn{ng: {disabled: "editableForm.$waiting"}, type: 'submit'}
            Save
          %button.btn.btn-danger.cancel-btn{ng: {disabled: "editableForm.$waiting", click: "editableForm.$cancel()"}, type: 'button'}
            Cancel
.wrapper{ng: {controller: "SkillCtrl"}}
  .row.skills.text-center
    %ul
      %li{ng: {repeat: "skill in skills"}}
        .skill
          %span.label.label-primary.tag
            {{skill.name}}
            - if @user == current_user
              %button.btn.btn-danger.del-btn{ng:{click: "deleteSkill(skill.id, $index)"}, type: 'button'}
                &#10006;      

.row.cv.text-center
  -if @user.cv.present?
    =link_to @user.cv.url do
      %span.glyphicon.glyphicon-paperclip 
      %span Download CV
  -elsif @user == current_user
    =link_to '/after_signup/confirm_profile', remote: false, class: 'cv-link' do
      %span Upload CV
.row.cv.text-center
  =mail_to @user.email, class: 'cv-link' do
    %span.glyphicon.glyphicon-envelope
    %span Email this candiate

#players
  %audio#audio-player{src: @user.audio.url, onended: '$("#play-button").click()'}
-# %p.positions
-#   ="Positions: #{@user.position_names.join(' ')}"