.authform
  %h3.text-center
    Upload the CV
  = simple_form_for(@user, url: wizard_path, method: :put, :html => {multipart: true, role: 'form', class: 'form-vertical'}) do |f|
    %p.text-center pdf, docx and doc formats are supported
    .form-group.text-center.cv-upload
      = f.file_field :cv
    .controls
      = link_to 'Previous step', previous_wizard_path
      = f.button :submit, 'Save profile', :class => 'btn btn-success'
      