.modal.fade#allowMessage{tabindex: '-1', role: 'dialog', aria: {hidden: 'true'}} 
  .modal-dialog
    .modal-content
      .modal-body
        #upArrow
        %p We need access your microphone to start.
        %p 
          Please click 
          %strong allow.
#players
  %audio.recorder
  %audio#audio-player{onended: '$("#play-button").click()'}
.row.text-center
  .userpic
    =image_tag @user.picture_url, class: "user-photo img-circle img-responsive img-thumbnail"
    =button_to '', class: 'btn-play', id: 'record-button' do
      %span.glyphicon.glyphicon-record
    =button_to '', class: 'btn-play hidden', id: 'play-button' do
      %span.glyphicon.glyphicon-play
.row.text-center.explainer
  %p Please record a short message for employers. 
  %p We suggest you keep it to under a minute.
.row.controls.text-center
  .links
    = link_to 'Re-record', '', class: 'btn btn-info btn-lg', id: 'cancel-link'
    = link_to "Satisfied", next_wizard_path, :class => 'btn btn-success btn-next btn-lg', id: 'upload-link'
  = link_to 'skip for now' , next_wizard_path, id: 'skip-audio-link'

    
