.modal.fade#allowMessage{tabindex: '-1', role: 'dialog', aria: {hidden: 'true'}} 
  .modal-dialog
    .modal-content
      .modal-body
        #upArrow
        %p I need access to the webcam to start.
        %p 
          Please click 
          %strong allow.
#players
  %audio.recorder{src: @user.audio.url, preload: "preload"}


.row.text-center
  .userpic
    =image_tag @user.picture_url, class: "user-photo img-circle img-responsive img-thumbnail"
    =button_to '', class: 'btn-play', id: 'record-button' do
      %span.glyphicon.glyphicon-record
      

-# %button#play_button
-#   Preview recording

.row.controls.text-center
  = link_to "Next", next_wizard_path, :class => 'btn btn-primary'
  = link_to 'skip for now' , next_wizard_path

#players
    
